body{
	margin:0;
	padding:0;
	width: auto;
	font: 0.8em helvetica, 'Times New Roman', sans-serif;
	color: #333;
	background: #eee;
}
header{
	margin-top: -15px;
	height: 80px;
	background-color: #2a85ff;
	box-shadow: 0px 2px 20px #00f;
}
#menu{
	padding:15px 50px;
}
img#logo{
	float: left;
	width: 100px;
	border-radius: 50%;
	margin-top: 8px;
}
header h2{
	margin-top: 15px;
	font-style: italic;
	color: #fff;
	text-align: center;
	font-size: 2em;
}
#meet{
	color: red;
}
#people{
	color: yellow;
}
#wrapper{
	max-width: 750px;
	height: auto;
	margin: 60px auto 0;
}
#main{

}
.row{
	margin: 10px;
}
.row input[type=text]{
	border-radius: 5px;
}
section#result{
	margin: 60px 0;
}
.profile{
	width:100px;
}
.person-row{
	margin:10px 0;
	height: 110px;
	background: rgba(0,170,255, 0.1);
	clear: both;
	width: 100%;
	border-radius: 10px;
}
.person-row img.profile{
	float: left;
	border-radius: 100%;
	padding: 5px;
	margin: 0 20px 0 10px;
}
h3.name{
	padding: 15px 0;
	margin: 0;
}
.person-row > button{
	float: right;
	margin: -56px 10px 0 0;
}
footer{
	color: #333;
	border-top: 1px solid #2a85ff;
	padding:10px;
	margin-top: 50px;
	text-align: center;
	clear: both;
}
/**Hompage**/
#image{
	width: 50%;
	float: left;
	/*background: url(../pix/homepix.png) no-repeat;*/
	height: auto;
}
#homewrapper{
	max-width: 940px;
	height: auto;
	margin: 60px auto 0;
}
#homemain{
	margin-bottom: 60px;
	height: 420px;
}
#signin{
	width: 40%;
	float: right;
}
#signin .form{
margin-left: 20px;
}
#signin .form form input[type=text]{
	padding-left: 5px;
	 float: left;
	 height: 20px;
	 width: 110px;
	 margin: 0 2px;
}
#signin input[type=password]{
	 padding-left: 5px;
	 float: left;
	 height: 20px;
	 width: 110px;
	 -moz-margin: -17px 2px 0;
	 margin: -15px 2px 0;
}
#signin input[type=submit]{
	float: right;
	margin-top: -32px;
	margin-right: 40px;
	padding:4px;
	color: #2a85ff;
	font-weight: bold;
}
#Signup{
	width: 40%;
	float: right;
}
#Signup .form{
	margin:20% 20px auto;
	border: 1px solid #ccc;
	padding: 20px 20px 20px 40px;
	/*text-align: center;*/
	background: #fff;
}
.form form > label{
	width: 70px;
	/*height: 30px;*/
	display: inline-block;
	font-weight: bold;
	text-align: left;
	margin: 10px 0;
}
#Signup .form form input[type=submit]{
	color: #2a85ff;
	font-weight: bold;
	margin-left: ;
	margin: 5px 0 0 27%;
	padding: 4px;
}
#Signup .form form input[type=text], #Signup input[type=password]{
	padding-left: 5px;
	/*width: ;*/
	height: 20px;

}
